html {
  height: 100%;
  margin: 0;
}

body {
  position: relative;
  min-height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Ubuntu Mono', sans-serif;
  overflow: hidden; /* Oculta qualquer parte do pseudo-elemento que esteja fora dos limites */
}

body::before {
  content: '';
  position: absolute;
  top: -100%; /* Expande o pseudo-elemento para cobrir a área completa, mesmo quando girado */
  left: -100%;
  right: -100%;
  bottom: -100%;
  background: url('images/Nexa Skills - Pattern.png') center/cover;
  background-size: 60%;
  transform: rotate(30deg); /* Gira o fundo */
  z-index: -1; /* Coloca o fundo atrás do conteúdo do body */
}


.card-wrapper {
  perspective: 1000px;
}

.card {
  width: 400px; /* Adjust width as needed */
  display: flex;
  flex-direction: column;
  background: #191919; /* Adjust the background color as needed */
  border-radius: 8px;
  border: 1px solid #969992;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
  transform: rotateY(0deg);
  transition: transform 0.5s;
  overflow: hidden;
}

.card:hover {
  transform: rotateY(15deg);
}

.card-top, .card-bottom {
  padding: 0 1.2rem 1rem 1.2rem;
}

.nexaId {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.325rem;
  color: #f5f5f5;
}

.nexaId img{
  max-width: 1rem;
}

.character-image {
  position: relative; /* Posicionamento relativo para os pseudo-elementos de contorno */
  width: 100%; /* Largura do card */
  height: 200px; /* Altura desejada para a imagem */
  background: url('images/fotoPerfil.jpg') center/cover no-repeat;
  background-position: center 35% ;
  border-radius: 8px; /* Cantos arredondados */
  overflow: hidden; /* Garante que a imagem não vaze fora dos cantos arredondados */
}

.character-image::before, .character-image::after {
  content: "";
  position: absolute;
  border-style: solid;
  border-color: transparent;
}

.character-image::before {
  top: 0;
  left: 0;
  border-width: 2px 0 0 2px; /* Ajuste a largura do contorno conforme necessário */
  border-radius: 8px 0 0 0; /* Arredondamento correspondente */
  width: 20px; /* Ajuste a extensão do contorno conforme necessário */
  height: 20px; /* Ajuste a extensão do contorno conforme necessário */
}

.character-image::after {
  bottom: 0;
  right: 0;
  border-width: 0 2px 2px 0; /* Ajuste a largura do contorno conforme necessário */
  border-radius: 0 0 8px 0; /* Arredondamento correspondente */
  width: 20px; /* Ajuste a extensão do contorno conforme necessário */
  height: 20px; /* Ajuste a extensão do contorno conforme necessário */
}


.character-info {
  margin: 1rem 2rem 1rem 0.325rem;
  color: #f5f5f5;
}

.name {
  padding-bottom: 1rem;
}

.underline-title {
  position: relative;
  display: inline-block;
  /* Adicione aqui outras propriedades de estilo do título, se necessário */
}

.underline-title::after {
  content: '';
  position: absolute;
  bottom: -5px; /* Ajuste a posição conforme necessário */
  left: 50%;
  width: 50%; /* O sublinhado cobre toda a largura do texto */
  height: 2px; /* Altura do sublinhado */
  background-color: #6DD708; /* Cor do sublinhado */
}



.card-bottom {
  color: #f5f5f5;
  background: #292828; /* Adjust the background color as needed */
}

.skill-name {
  margin: 2rem 2rem 2rem 0;
}

.skill-details {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Ajuste a largura mínima como necessário */
  gap: 1rem 2rem; /* Espaço entre os itens do grid */
  list-style: none;
  padding: 0;
  margin: 0;
}

.skill-item {
  display: flex;
  align-items: center; /* Centraliza verticalmente o conteúdo do item */
}

.skill-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 1.3rem;
  margin-top: 2rem;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  background-color: #6DD708; /* Adjust the color as needed */
  color: #f5f5f5;
}

.btn:hover {
  background-color: darken(#6DD708, 10%); /* Adjust hover effect as needed */
}

/* Add any additional styles as needed 
.star-rating {
  display: inline-block;
  font-size: 0; 
}

.star {
  display: inline-block;
  font-size: 16px; 
  color: #ccc; 
  text-shadow: 0 0 1px #000; 
  cursor: pointer;
}

.star:before {
  content: "☆"; 
}

.star.full:before {
  content: "★"; 
  color: #ffcc00; 
}
*/



.rating {
  display: flex;
  margin-left: auto; /* Empurra a classificação para a direita do item da habilidade */
}

.circle {
  display: inline-block;
  width: 10px; /* Tamanho do círculo */
  height: 10px; /* Tamanho do círculo */
  border: 1px solid #6DD708; /* Borda do círculo */
  border-radius: 50%; /* Torna a forma um círculo */
  margin: 0 2px; /* Espaçamento entre círculos */
  background-color: transparent; /* Círculo não preenchido */
}

.circle.filled {
  background-color: #6DD708; /* Cor de preenchimento para círculo preenchido */
}

/* Responsive 480 */

@media (max-width: 480px) {
  .card {
      width: 90%; /* Adjust the width of the card to better fit the screen */
      margin: 0 auto; /* Center the card in the viewport */
  }

  .character-image {
      height: 250px; /* Increase the height for a better proportion */
  }

  .skill-details {
      grid-template-columns: repeat(2, 1fr); /* Arrange skill details in two columns */
      gap: 15px; /* Increase the gap for better spacing */
  }

  .skill-item {
      font-size: 1.1rem; /* Increase the font size for readability */
  }

  .rating .circle {
      width: 12px; /* Increase the size of the rating circles */
      height: 12px;
  }

  .title {
      font-size: 1.5rem; /* Increase the size of the title */
  }

  .underline-title::after {
      width: 50%; /* Make the underline wider for larger screens */
  }

}


/* Responsive 801 */

@media (max-width: 801px) {
  .card {
      width: 70%; /* A wider screen allows for a larger card, but not full width */
      margin: 20px auto; /* More margin as the screen gets wider */
      padding: 20px; /* More padding inside the card */
  }

  .character-image {
      height: 300px; /* Larger images for larger screens */
  }

  .skill-details {
      grid-template-columns: repeat(3, 1fr); /* Now there is space for three columns */
      gap: 20px; /* More space between the grid items */
  }

  .skill-item {
      font-size: 1.2rem; /* Slightly larger text for readability */
  }

  .rating .circle {
      width: 14px; /* Larger clickable areas for the circles */
      height: 14px;
  }

  .title {
      font-size: 1.75rem; /* A larger title for emphasis */
  }

  .underline-title::after {
      width: 60%; /* A longer underline for aesthetic balance */
  }

  /* You might want to add more horizontal navigation, larger headers, etc. */
  .navigation-menu {
      display: flex;
      justify-content: space-between;
  }

  /* Larger buttons for interaction */
  .button {
      padding: 15px 30px;
      font-size: 1rem;
  }

}
